* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: grey;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav-link {
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    margin-top: 100px;

}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eminem {
    border-radius: 1000px;
    height: 200px;
    width: 200px;
}

.content {
    margin-top: 100px;
}