* {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: rgb(75, 75, 75);
}

.nav-items ul {
    margin: 10px;
    display: flex;
    list-style: none;
}

.nav-links {
    margin: 10px;
    color: rgb(173, 173, 173);
    text-decoration: none;
}

.nav-logo {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links:hover {
    color: white;
}

.nav-links :active {
    color: white;
}

.container {
    margin-top: 100px;

}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eminem {
    border-radius: 1000px;
    height: 200px;
    width: 200px;
}

.content {
    margin-top: 100px;
}